.page {
    background-color: #1c4220;
}

@media (max-width: 480px) {
    .page, .page.brand-background {
        background: #1c4220 !important
    }
}

.ping-footer {
    display: block;
    font-size: 11px;
    color: #929aa1;
}

.ping-credits {
    display: inline-block;
    vertical-align: middle;
    height: 14px;
    width: 140px;
    font-size: 0;
    background: transparent url("../images/powered-by-ping-identity.svg") no-repeat;
    background-size: contain;
    color: #fff;
    margin: 10px 0;
}
